/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Times New Roman,Arial, sans-serif;
}

/* Body */
body{min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 /*background: linear-gradient(135deg, #1d2671, #c33764);
 /*background: linear-gradient(135deg, #ff416c, #ff4b2b);
 /*background: linear-gradient(135deg, #f953c6, #b91d73);*/
 /*background: linear-gradient(135deg, #fc466b, #3f5efb);
 /*background: linear-gradient(135deg, #2193b0, #6dd5ed);
 background: linear-gradient(135deg, #ee9ca7, #ffdde1);*/
 /*background: linear-gradient(135deg, #2c009e, #512da8, #f5c16c);
 /*background: linear-gradient(135deg, #0f0c29, #302b63, #c9a227);*/
 background: linear-gradient(135deg, #232626, #414345, #d7d7d7);
}


/* Main Card */
.glasscard{
  width: 410px;
  padding: 2px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: white;
  text-align: center;
    
}

/* Title */
.title {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
  
    
    
}

/* Input Section */
.input-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%px;
    padding: 10px;
}

.input-section input {
    flex: 1;
    background: none;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #fff;
    outline: none;
    width: 0.5rem;
    Color:white;
}
#head1{
  font-size:17px;
  margin-bottom:2px;
  text-align: left;
  margin-left:15px;
  color: orange;
}
#search-btn {
    padding: 10px 16px;
    border-radius:20px;
    border:2px solid #fff;
    background:none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

#search-btn:hover {
    background-color: #ff8c00;
}

/* Progress Section */
.progress-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Circle Card */
.progress-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
    text-align: center;
}

/* Circle */
.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #309170;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: black;
  font-weight: 700;
flex-direction: column;
}


/* Easy */
.easy { 
  background: conic-gradient(#299150 var(--progress), #e0e0e0 0%);
  }


/* Medium*/
.medium {
    background: conic-gradient(#299150 var(--progress), #e0e0e0 0%);
}

/* Hard */
.hard {
    background: conic-gradient(#299150 var(--progress), #e0e0e0 0%);
}


/* Circle Text */
.circle span {
  color : black;
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 12px;
}
.stats-card{
  display: flex;
  flex-direction: row;
  gap:5px;
  flex-wrap: wrap;
  padding: 8px;
  margin:2px;
  margin-top: 10px;
  justify-content: space-between;
   
}
.statbox{
  background-color: #ff9c00 ;
   width:10rem;
   border:2px solid #ff8900;
   border-radius: 8px;
   color:white;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size:12px;
   height: 40px;
   flex-direction: column;
}